@font-face {
    font-family: "Open Sans Regular";
    src: url('../font/Open_Sans/static/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../font/Open_Sans/static/OpenSans-Bold.ttf");
}

body {
    font: 14px "Open Sans Regular" !important;
    color: #333 !important;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*HEADER*/
header {
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
    z-index: 1000;
}

#header {
    border-bottom: 1px solid #ecebeb;
    background-color: #fff;
}

.uk-container::before {
    content: "";
    display: table;
}

.uk-container>:last-child {
    margin-bottom: 0;
}

.uk-container {
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.headicon {
    padding-left: 0;
    padding-top: 6px;
    width: 100%;
    color: #d0d0d0;
    padding-bottom: 10px !important;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.uk-grid {
    margin-left: -20px;
}

.uk-grid>* {
    padding-left: 20px;
}

.col-lg-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.uk-icon {
    vertical-align: middle;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}

.uk-grid>*>:last-child {
    margin-bottom: 0;
}

.uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
    stroke: currentcolor;
}

div.headicon a {
    color: #d0d0d0 !important;
}

.container::after {
    clear: both;
    content: "";
    display: table;
}

.navbar {
    padding: 0;
}

.uk-navbar-left,
.uk-navbar-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.uk-navbar-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.uk-navbar-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 50px;
    padding: 0 12px;
    font-size: .875rem;
    font: normal 15px "Open Sans Regular" !important;
    text-decoration: none;
    color: #333;
    transition: .1s ease-in-out;
    transition-property: color, background-color;
}

.uk-navbar-nav>li:hover>a,
a:hover {
    color: #00947d !important;
    text-decoration: none !important;
    outline: 0;
    cursor: pointer;
}

/*Menu cấp 2*/
.uk-navbar-dropdown {
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    width: 200px;
    padding: 15px;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .15);
}

.uk-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    min-width: 200px;
    padding: 25px;
    background: #fff;
    color: #666;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .15);
}

.title14 {
    font: 14px "Open Sans Bold";
}

.colorgreen, .itemtour .days {
    color: #00947d !important;
}

.uk-list {
    padding: 0;
    list-style: none;
}

#header .itemdest,
#header .itemdest li {
    margin-top: 8px !important;
}

#header .itemdest li {
    padding-left: 5px;
}

.uk-link,
a {
    color: #333 !important;
    text-decoration: none;
    cursor: pointer;
}

.uk-list>li>:last-child {
    margin-bottom: 0;
}

.uk-navbar-nav>li:hover .uk-dropdown {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}

.uk-width-xlarge {
    width: 600px;
}

.uk-list>li:nth-child(n+2),
.uk-list>li>ul {
    margin-top: 10px;
}

#header .itemdest {
    margin-bottom: 8px !important;
}

.uk-width-medium {
    width: 300px;
}

a.halongsubmenu {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    display: block;
    background: #39687a;
}

.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8 {
    padding-right: 0px;
}

.navbar-right {
    margin-left: auto;
}

.input-group>.input-group-prepend>.btn {
    background-color: transparent;
    padding: 0 10px;
    border-radius: 0.375rem;
}

.dropdown-toggle:focus + .dropdown-menu {
    display: block;
}

#languageBtn:active,
#languageBtn:focus {
    border: 1px solid #000; 
    background-color: #fff; 
    outline: none; 
    box-shadow: none;
}

#languageBtn, .uk-navbar-toggle {
    display: none;
}

.title15 {
    font: 15px "Open Sans Bold";
}

#header .mytrip {
    color: #fff !important;
    padding: 8px 14px;
}

#header .mytrip,
.buttongreen:hover {
    background: #ea5a35;
}

*+.uk-grid-margin,
.uk-grid+.uk-grid,
.uk-grid>.uk-grid-margin {
    margin-top: 20px;
}

/*END*/
/*Design Navbar*/
.uk-offcanvas {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.uk-offcanvas-flip .uk-offcanvas {
    right: 0;
    left: auto;
}


.uk-offcanvas-flip .uk-offcanvas-bar-animation {
    transition-property: right;
}

.uk-offcanvas-flip .uk-open>.uk-offcanvas-bar {
    left: auto;
    right: 0;
}
#offcanvas .uk-offcanvas-bar {
    background: #fff;
    padding-left: 0;
    padding-right: 0;
}

#offcanvas .uk-offcanvas-close {
    color: #333;
    padding-right: 15px;
}
.uk-offcanvas-bar-animation {
    transition: right .3s ease-out;
}

.uk-close {
    color: #999;
    transition: .1s ease-in-out;
    transition-property: color,opacity;
}

.uk-offcanvas-close {
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
    padding: 5px;
}

.uk-nav-default {
    font-size: .875rem;
}

.uk-nav, .uk-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#offcanvas .uk-offcanvas-bar .uk-nav>li {
    border-bottom: 1px solid #e5e5e5;
    padding: 8px 5px 8px 14px;
}

#offcanvas .uk-parenthome a, #offcanvas a {
    font: 14px "Open Sans Regular"!important;
    color: #333;
}

#offcanvas .uk-nav-parent-icon>.uk-parent>a::after {
    content: "";
    width: 1.5em;
    height: 1.5em;
    float: right;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23999%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#offcanvas .uk-nav-sub {
    padding-left: 5px!important;
}
ul.uk-nav-sub {
    padding: 5px 0 5px 15px;
}

.uk-nav>li>a {
    padding: 5px 0;
}

ul.boxsocial {
    color: #333;
    padding-left: 14px;
}

#offcanvas .uk-nav-sub li {
    border-bottom: 1px solid #e5e5e5;
}

#offcanvas .uk-nav-sub li, div.boxitinerary .titledaysnoicon {
    padding-top: 8px;
    padding-bottom: 8px;
}

#offcanvas .uk-nav-parent-icon>.open>a::after {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%2300947d%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

#offcanvas {
    height: 100vh;
    overflow: auto;
    transition: max-height 0.3s ease-out; 
}

#offcanvas .uk-nav-sub {
    scroll-behavior: smooth;
}
/*MAIN*/
/* <div class="destination bgbox"> */
.bgbox, .destcontent {
    background: #f5f5f5;
    padding-bottom: 30px;
}

.uk-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    padding-top: 16px;
}

.uk-breadcrumb>* {
    flex: none;
}

.uk-breadcrumb .active {
    color: #00947d;
}

.uk-breadcrumb>*>* {
    display: inline-block;
    font-size: 14px;
    color: #999;
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
    content: "/";
    display: inline-block;
    margin: 0 15px;
    color: #999;
}

.shortduration {
    margin-top: -35px;
    margin-bottom: 16px;
}

.price {
    color: #ea5a35;
}

.shortduration a {
    color: #666!important;
}

.ascactive span {
    color: #00947d;
}

.descnoactive span {
    color: #ea5a35;
}
/*Form search*/
.uk-search {
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin: 0;
}

.frmsearch, .uk-search {
    width: 100%!important;
}

.uk-container>:last-child {
    margin-bottom: 0;
}

.col-lg-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.boxseach {
    background: #13977f;
    padding: 10px !important;
}



.custom-select, .form-control {
    height: 40px;
    border-radius: 0;
}

.btn {
    font-size: 12.25px;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 0;
}

.btn-default {
    background: #ea5a35;
    color: #fff!important;
    border: none;
 
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-default:focus, .btn-default:hover {
    background: #00947d;
    color: #fff!important;
    border: none;

}

.btn-default:active {
    background-color: transparent;
    color: #333!important;
    border-color: #999;
}

.desfilter:hover {
    background: #ea5a35;
    color: #fff;
    border: none;
}

.itemtour {
    border: 1px solid #e3e3e3;
    background: #fff;
}

img  {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.itemtour .title14 {
    padding: 0 14px;
}

.itemtour .rankcruise {
    padding-left: 42px;
    padding-right: 14px;
    background: url('../images/svg/bed.svg') 14px no-repeat;
}

.star5, .star4, .star3 {
    background: url('../images/svg/star.svg') repeat-x;
    height: 20px!important;
}

.star5 {
    width: 98px!important;
}

.star4 {
    width: 80px!important;
}

.star3 {
    width: 56px!important;
}

.itemtour .duration {
    padding-left: 14px;
    padding-right: 14px;
}

.itemtour .icondura {
    background: url('../images/Excursions/icons/duration.svg') left no-repeat;
    padding-left: 28px;
}

strong {
    font: 14px Open Sans Bold!important;
}

.itemtour .micro, .itemtour .person, .itemtour .startend, .itemtour .visit, .itemtour .wishes {
    padding-left: 42px;
    padding-right: 14px;
}

.itemtour .startend {
    background: url('../images/Excursions/icons/flag.svg') 14px no-repeat;
}

.itemtour .visit {
    background: url('../images/Excursions/icons/visit.svg') 14px 0 no-repeat;
}

.itemtour .person {
    background: url('../images/Excursions/icons/person.svg') 14px 0 no-repeat;
}

.itemtour .micro {
    background: url('../images/Excursions/icons/microphone.svg') 14px 0 no-repeat;
}

.itemtour .wishes {
    color: #989898;
}

.itemtour .wishes a {
    color: #989898!important;
}

.itemtour .wishes a, div.boxrequest .txtnote {
    font-size: 13px!important;
}

.itemtour .wishes {
    background: url('../images/Excursions/icons/travelstyle.svg') 14px 0 no-repeat;
}

.itemtour .boxprice {
    color: #333;
    padding: 14px 14px 14px 30px;
    background: url('../images/Excursions/icons/bag-usd.svg') 14px 12px no-repeat;
    border-top: 1px solid #e3e3e3;
}

.itemtour .price {
    padding-left: 6px;
    padding-right: 0!important;
}

.itemtour .pricevn {
    color: #989898;
    padding-left: 8px!important;
}

.uk-container .uk-container {
    padding-left: 0;
    padding-right: 0;
}

.page-item {
    padding: 0 5px 0 4px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px; 
    background-color: transparent;  
    border: 1px solid #d4d4d4;
    border-radius: 5px; 
}

.page-link {
    background-color: transparent;
    padding: 5px;
    margin-left: 0px;
    border: none;
    line-height: 1.37;
}

.pagination .show {
    display: none;
}


.pagination>.uk-active>* {
    color: #fff!important;
}

.pagination .page-item.uk-active {
    color: #fff!important;
    background: #00947d;
    border: none;
}

.pagination li:hover a {
    background-color: transparent;
}

.title24 {
    font: 24px "Open Sans Bold";
}

.vote {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
    color: #faca1a;
    background: url('../images/svg/vote.svg') no-repeat;
}

.title20 {
    font: 20px "Open Sans Bold";
}

.numrating {
    color: #9c614d;
}

/*Slide*/
.slider-container {
    overflow: hidden;
}

.slider-items {
    margin-left: -30px; 
}


.slider-items {
    flex-wrap: nowrap;
}

.card {
    position: relative;
    box-sizing: border-box;
    transition: box-shadow .1s ease-in-out;
    border: none;
}

.card-default {
    background: #fff;
    color: #666;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.padd25 {
    padding: 25px!important;
}

.boxreview .content {
    line-height: 25px;
    text-align: justify;
    min-height: 140px!important;
    padding-top: 15px;
    color: #333;
}

.paddtop15 {
    padding-top: 15px !important;
}

.paddtop30 {
    padding-top: 30px !important;
}

.paddleft15 {
    padding-left: 15px !important;
}

.title14.readmorehome,
.title14.readmorehome svg polyline {
    vertical-align: middle;
    color: #999 !important;
    stroke: #999 !important;
}

.title14.readmorehome svg {
    vertical-align: middle;
}

.title14.readmorehome:hover,
.title14.readmorehome:hover svg polyline {
    color: #00947d !important;
    stroke: #00947d !important;
}
/* CSS cho slick dots */
.slick-dots {
   display: flex !important;
   align-items: center;
   justify-content: center;
   gap: 0 10px;
   margin: 20px 0 20px  40px;
}

/* CSS cho dot chưa active */
.slick-dots li button {
    font-size: 0;
    background-color: transparent; 
    width: 6px !important; 
    height: 14px !important;
    border-radius: 50% !important; 
    display: inline-block;
    border: 1px solid rgba(102, 102, 102, 0.4); 
}

/* Màu nền cho dot khi active hoặc focus (đang click) */
.slick-dots li button:focus,
.slick-dots li button.active {
    background-color: rgba(102,102,102,.6) !important;
    outline: none;
} 

.slick-active button{
    background-color: rgba(102,102,102,.6) !important;
}


.bgboxwhite {
    background: #fff;
    padding: 24px;
    line-height: 24px;
    border: 1px solid #e3e3e3;
}

.title18 {
    font: 18px "Open Sans Bold";
}

*+p {
    margin-top: 20px;
}

.readmore {
    cursor: pointer;
}

.best-tours li {
    list-style-type: disc; 
    margin-bottom: 10px; 
    margin-left: 30px;
}
/*FOOTER*/
footer {
    background: #272727;
    padding-top: 55px;
    color: #fff;
    line-height: 24px;
    margin-bottom: 0;
}

#copyright {
    background: #4c4c4c;
    margin-top: 20px!important;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.4;
}

footer h3, footer h6 {
    border-bottom: 1px solid #484848;
    height: 65px!important;
    color: #fff;
    margin-bottom: 20px;
}

footer a, footer  h4 {
    color: #fff!important;
    font-size: 14px;
}
.margbot14 {
    margin-bottom: 14px!important;
}
.title16 {
    font: 16px "Open Sans Bold";
}

.uk-input {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    border: 0 none;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    outline: none;
}

.uk-form-width-medium {
    width: 200px;
}

.uk-button {
    margin-left: -5px;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 12.25px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}

.buttongreen {
    background: #00947d;
    font-family: "Open Sans Bold";
}

footer > a:hover {
    color: #fff !important;
}
#sendsubcribe {
    padding-left: 20px;
    padding-right: 20px;
    border: none!important;
}

.paddtop14 {
    padding-top: 14px !important;
}

.uk-icon-button {
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 500px;
    background: #f8f8f8;
    color: #999;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}

.uk-margin-small-right {
    margin-right: 10px!important;
}

#copyright .uk-container {
    color: #a7a7a7;
    padding-top: 14px;
    height: 46px;
}

#copyright a {
    padding-right: 5px;
    color: #a7a7a7!important;
}

#customizetour, #whatsapp {
    position: fixed;
    right: 0;
    padding-left: 6px!important;
    padding-right: 6px!important;
    transition: .4s ease-in-out;
    z-index: 999;
}
#whatsapp {
    top: 70%;
}

#customizetour {
    top: 82%;
}


/*Responsive*/
@media all and (max-width: 1200px) {

    /*HEADER*/
    .uk-navbar-dropdown.destinations {
        max-width: 100%;
        width: 100%;
    }

    .hotline {
        padding-left: 20px;
    }
    /*MAIN*/
   

    .col-lg-4 .mapright {
        width: 100%;
        height: auto;
    }

    .col-lg-4 .mapright img {
        max-width: 100%;
        height: auto;
    }
    /*FOOTER*/
    .first-column {
        padding-left: 20px;
    }

}

@media screen and (max-width: 992px) {
    .uk-gird {
        display: block;
    }

    .infomation-contact {
        display: none;
    }

    .navbar-right .mytrip{
        display: none;
    }

    .uk-navbar-nav li:not(:first-child) {
        display: none;
    }

    #languageBtn, .uk-navbar-toggle {
        display: block;
    }
    /*Navbar*/
    .uk-offcanvas-bar {
        left: -350px;
        width: 350px;
        padding: 40px 40px;
    }
    /*Main*/
    .itemtour li a img {
        width: 100%;
    }

    .matop30 {
        margin-top: 30px !important;
    }

    .col-lg-2 {
        width: 25%;
    }

    .boxseach {
        display: block !important;
    }

    .input-group-btn  {
        text-align: center;
        margin: 20px auto 10px;
    }
}
@media screen and (max-width: 768px) {
    .matop30 {
        margin-top: 30px !important;
    }

    .mrt-2 {
        margin-top: 10px;
    }

    .custom-select, .form-control {
        margin-left: 20px;
    }
}
@media screen and (max-width: 576px) {
    .second-column {
        margin-top: 10px;
        padding-left: 20px;
    }

    .shortduration {
        display: none;
    }

    .pagination .hide {
        display: none;
    }

    .pagination .show {
        display: block;
    }
}

@media (min-width:640px) {

    /*HEADER*/
    .uk-container {
        padding-left: 30px;
        padding-right: 30px;
    }

   
 
}

@media (min-width:768px) {
    .mrt-2{
        width: 20%;
    }

    .mrt-2:nth-of-type(n+2) {
        padding-left: 15px;
    }

}

@media (min-width:992px) {

    /*HEADER*/
    .uk-container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width:1200px) {

    /*HEADER*/
    .uk-grid {
        margin-left: -30px;
    }

    .uk-grid>* {
        padding-left: 30px;
    }

    *+.uk-grid-margin,
    .uk-grid+.uk-grid,
    .uk-grid>.uk-grid-margin {
        margin-top: 30px;
    }
}